.navbar {
  background-color: #1a1a1d;
  font-weight: bold;
}

span {
  color: #c62e2e;
}

.card:hover {
  transform: scale(1.1);
}

body {
  background-color: #eeeeee;
}

h1 {
  font-weight: bold;
  font-family: serif;
}
